@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.leaflet-container {
  width: 100% !important;
  height: 600px !important;
}

.page-container {
  margin: 0 auto;
  width: 88vw;
}

.field-heading {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 10px;
}

.primary-heading {
  margin-top: 80px;
}

.secondary-heading {
  margin-top: 20px;
  font-size: 20px;
}

/*React modal styles*/
.ReactModal__Overlay {
  opacity: 0;
  transition: 0.2s all;
  background-color: rgba(0, 0, 0, 0) !important;
  z-index: 999999999999;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  transition: 0.2s all;
}

/*Controls modal animation. Transform style is also in reactModalStyles.ts*/
.ReactModal__Content--after-open {
  transform: translate(-50%, -50%) scale(1) !important;
  z-index: 10000;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

/*.leaflet-container {*/
/*  width: 70% !important;*/
/*}*/